// цвета
$dark-green: #545A2F;
$lite-green: rgba(153, 161, 142, 0.3); //прозрачность 30%
;
$black: #1A1A18;
$white: #FFFFFF;


// Подключение шрифта

@font-face {
    font-family: "Noah";
    src: url("../assets/fonts/Noah-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Noah";
    src: url("../assets/fonts/Noah-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p,
.button {
    margin: 0;
    font-family: "Noah", Arial, sans-serif;

}

// 04.05.2023 Лана, меню начало

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    // фон оставлю пока нет первого экрана
    background-color: $dark-green;
    z-index: 100;
}

.header {
    display: flex;
    margin: 20px;
    padding: 0 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hamb,
    .popup {
        display: none;
    }

    &__logo {
        height: 80%;
    }

    &__conteiner {
        display: flex;
        align-items: center;
        width: 70%;
        justify-content: space-between;
    }

    .header__menu {
        display: flex;
        justify-content: space-around;

        // border: 1px solid;
        width: 100%;

        .header__menu_item {
            color: $white;
            text-decoration: none;
            font-size: 1.3rem;

            &:hover {
                color: #99A18E;
            }
        }
    }

    &__part-with-button {
        margin-left: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        font-size: 1rem;

        .header__button {
            width: 240px;
            height: 60px;
            border: none;
            font-size: 1.3rem;

            a {
                text-decoration: none;
                color: $black;
            }
        }

        .header__button:hover {
            width: 240px;
            height: 60px;
            background-color: $lite-green;

            a {
                text-decoration: none;
            }
        }

        .header__text-under-button {
            padding-top: 0.5rem;
            font-size: 1rem;
        }
    }
}

// меню конец


// блок 2
.place {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #1A1A18;
    margin: 211px0 50px 0;

    &__title {
        display: flex;
        flex-direction: column;

        &__h2 {
            text-align: center;
            font-size: 48px;
        }

        &__h3 {
            margin-top: 10px;
            text-align: center;
            font-weight: bold;
            font-size: 48px;
        }
    }

    &__back {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__item {
            width: 30%;
            position: relative;
            top: -100px;
            // border: 1px solid black;

            img {
                width: 100%;
            }
        }
    }

    &__description {
        margin-top: 50px;
        width: 60%;
        color: black;
        font-size: 24px;
        text-align: center;
    }
}

//футер
.footer {
    background: #545A2F;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    padding: 20px 100px;
    color: #FFFFFF;

}

.s1 {
    grid-row: 1;
    grid-column: 1;
    font-size: 20px;
}

.s1 p:first-child {
    margin-bottom: 22px;
}

.s2 {
    grid-row: 2;
    grid-column: 1;
    font-size: 16px;
    opacity: 0.7;
    align-self: end;
}

.s3 {
    grid-row: 1/3;
    grid-column: 2;
}

.s4 {
    grid-row: 1;
    grid-column: 3;
    text-align: right;
}

.s5 {
    grid-row: 2;
    grid-column: 3;
    font-size: 16px;
    text-align: right;
    align-self: end;
}

//блок 3
.gallery {
    padding: 0 65px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 27px;

    &__box {
        width: 100%;
    }

    &__img {
        width: 100%;
    }
}

.bold {
    font-weight: bold;
}

//блок4
.features {
    margin-top: 180px;
    padding: 0 65px;

    &__box {
        display: flex;
        flex-direction: row;
    }

    &__title {
        font-size: 48px;
        text-align: center;
        margin-bottom: 85px;
    }

    &__images {
        width: 50%;

        & p {
            font-size: 24px;
            text-align: center;
            margin-bottom: 14px;
        }


    }

    &__position {
        width: 100%;

        &__1 {
            width: 90%;
            position: relative;
            left: 0;
            top: 0px;

        }

        &__2 {
            width: 80%;
            position: relative;
            left: 20%;
            top: -50px;
        }
    }

    &__text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & img {
            width: 49px;
            height: 49px;
            margin-right: 30px;
        }

        & p {
            font-size: 24px;
            // font-size: 1.2rem;
            width: 65%;
        }

        &__1 {
            position: relative;
            left: 45px;
        }

        &__2 {
            position: relative;
            left: 60px;
        }

        &__3 {
            position: relative;
            left: 75px;
        }
    }
}

//блок 6
.lead-instruction {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 10vw 333px 10vw;

    &__img {
        display: absolute;
        z-index: 10;
        align-items: center;
        width: 100%;
    }

    &__title {
        grid-area: 1/2;
        width: 70%;
        display: flex;
        align-items: center;
    }

    &__fon {
        grid-area: 2/1;
        background-color: $lite-green;
    }

    .lead-instruction__form {
        grid-area: 2/2;
        display: flex;
        flex-direction: column;
        align-items: start;
        background-color: $lite-green;
    }

    .form1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 25px;

        &__img {
            display: none;
        }

        &__label {
            font-size: 2vw;
        }

        &__checkbox-conteiner {
            display: flex;
            align-items: center;
            gap: 10px;

        }

        &__textfield {
            width: 80%;
            height: 3.5vw;
            border: none;
            padding-left: 10px;
            font-size: 1.6vw;
            font-family: "Noah", Arial, sans-serif;
        }

        &__labelcheckbox {
            font-size: 1.5vw;
        }

        &__button {
            border: 1px solid $dark-green;
        }

    }
}

//Блок 11

.block11 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1.3fr 0.7fr;
    margin-bottom: 13vw;
    padding: 0 65px;
    gap: 75px;

    .faq {

        .faq__conteiner {
            margin-top: 58px;
            padding: 30px 0;

            .faq__box {
                position: relative;
                border-bottom: 1px solid $lite-green;
                /* Нижний отступ между элементами аккордеона */
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                    /* Для последнего элемента нижний отступ убираем */
                }

                .faq__label {
                    position: relative;
                    font-size: 1.6vw;
                    padding: 20px 0;

                    /* Меняем курсор при наведении */
                    cursor: pointer;

                    &::after {
                        content: "+";
                        /* Задаем иконку "+" для элемента аккордеона */
                        position: absolute;
                        top: 50%;
                        /* Выравнивание по центру */
                        transform: translateY(-50%);
                        right: 20px;
                        font-size: 25px;
                        font-weight: bold;

                    }
                }


                &.active .faq__label::after {
                    /* Меняем иконку на "-" при нажатии на элемент */
                    content: "-";
                    //background-image: url('../assets/img/minus.svg');
                    //width: 10px;
                    //background-repeat: no-repeat;
                }

                .faq__content {
                    width: 90%;
                    position: relative;
                    /* Цвет фона контента */
                    background-color: $white;
                    /* Скрываем контент */
                    overflow: hidden;
                    max-height: 0;
                    /* Для плавности анимации */
                    transition: 0.3s;

                    p {
                        padding: 20px 0;
                        font-size: 1.3vw;
                    }
                }

            }
        }
    }

    .form2 {
        background-color: $lite-green;
        padding: 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 2.5vw;

        &__title {
            text-align: center;
            font-size: 2.3vw;
            width: 90%;
        }

        &__label {
            font-size: 1.6vw;
        }

        &__img {
            padding-top: 20px;
            display: flex;
            justify-content: center;
            width: 25vw;
        }

        &__textfield {
            padding-left: 10px;
            font-size: 1.6vw;
            width: 100%;
            height: 3.5vw;
            border: none;
        }

        &__checkbox-conteiner {
            //display: flex;
            //justify-content: start;
            align-items: center;
            gap: 10px;

            .form2__labelcheckbox {
                font-size: 1.2vw;
            }
        }

        &__button {
            width: 100%;

            &:hover {
                border: 1px solid $dark-green;
            }
        }

    }

}

// Общие свойства

.box_flex_row {
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 3.6vw;
    font-weight: normal;
    line-height: 4vw;
}

// кастомизирую checkbox согласно дизайну
.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* убираем стандартные стилизации */
    width: 20px;
    height: 20px;
    border: 1px solid $white;

    &:checked {
        background-image: url('../assets/img/checkbox.svg');
        background-repeat: no-repeat;
    }

    &:hover {
        border-color: $dark-green;
    }
}

.button {
    width: 333px;
    height: 60px;
    border: 0;
    background-color: $dark-green;
    font-size: 1.6vw;
    color: $white;
    font-weight: normal;

    &:hover {
        background-color: $lite-green;
        color: $black;
    }
}

// адаптация
@media screen and (max-width:1024px) {
    .features__text {
        min-height: 700px;
    }

    .features__text__1 {
        left: 20px;
    }

    .features__text__2 {
        left: 40px;
    }

    .features__text__3 {
        left: 60px;
    }

    // гамбургер меню для экранов меньше 1024px по ширине, так как в этом месте меню начинает ломаться
    .header {
        height: 80px;

        &__logo {
            height: 56px;
        }

        &__conteiner {
            display: none;
        }


        .hamb {
            display: flex;
            align-items: center;
        }

        .hamb__field {
            padding: 10px 20px;
            cursor: pointer;
        }

        .bar {
            display: block;
            width: 30px;
            height: 3px;
            margin: 6px auto;
            background-color: #fff;
            transition: 0.2s;
        }

        .popup {
            position: fixed;
            top: 85px;
            left: -100%;
            width: 100%;
            height: 500px;
            background-color: $dark-green;
            z-index: 100;
            display: flex;
            transition: 0.3s;
        }

        .popup.open {
            left: 0;
        }

        .popup .header__conteiner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            width: 100%;
            height: 100%;

            .header__menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                padding: 50px 0;
                overflow: auto;

                // линии в мобильном меню
                .header__menu_item:not(.header__menu_item_first) {
                    border-top: 1px solid $lite-green;
                }

                .header__menu_item {
                    width: 70%;
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                }

            }

            .header__part-with-button {
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
            }
        }

        .popup .header__menu>li {
            width: 100%;
        }

        .popup .header__menu>li>a {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 20px 0;
            font-size: 20px;
            font-weight: bold;
            color: #3f3f3f;
        }

        .popup .header__menu>li>a:hover {
            background-color: rgba(122, 82, 179, 0.1);
        }

        .hamb__field.active .bar:nth-child(2) {
            opacity: 0;
        }

        .hamb__field.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .hamb__field.active .bar:nth-child(3) {
            transform: translateY(-10px) rotate(-45deg);
        }

        body.noscroll {
            overflow: hidden;
        }
    }

    // конец адаптации меню

    //блок 6
    .lead-instruction {
        &__img {
            padding-top: 25px;
            display: flex;
            align-items: center;
            grid-area: 2 / 1 / 3 / 2;
        }

        &__title {
            grid-area: 1 / 1 / 2 / 3;
            //
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .form1 {
            gap: 15px;

            &__label {
                font-size: 4vw;
            }

            &__textfield {
                font-size: 2vw;
            }

            &__labelcheckbox {
                font-size: 2vw;
                width: 80%;
            }

        }
    }

    //Общие свойства
    h2 {
        font-size: 5vw;
    }

    .button {
        width: 200px;
        height: 50px;
        font-size: 2vw;
    }
}

@media screen and (max-width:961px) {
    .features__box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .features__text {
        width: 100%;
        min-height: 600px;
    }

    .features__images {
        width: 100%;
    }

}

@media screen and (max-width:768px) {
    .footer {
        background: #545A2F;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 20px;
    }

    .s1 {
        grid-row: 2;
        grid-column: 1;
        text-align: center;
        margin-top: 55px;
    }

    .s2 {
        grid-row: 5;
        grid-column: 1;
        text-align: left;
        margin-top: 26px;
    }

    .s3 {
        grid-row: 1;
        grid-column: 1;
        text-align: center;
    }

    .s4 {
        grid-row: 3;
        grid-column: 1;
        text-align: center;
        margin: 30px 0 50px 0;
    }

    .s5 {
        grid-row: 4;
        grid-column: 1;
        text-align: left;

    }

    .gallery {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 10px;

        &__box {
            width: 100%;
        }
    }

    //блок 6
    .lead-instruction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 30vw;

        &__img {
            display: none;
        }

        &__fon {
            display: none;
        }

        &__title {
            text-align: center;
            margin: 20px 0 20px 0;
            width: 80vw;
        }

        .form1 {
            background-color: $lite-green;
            width: 100%;
            padding-top: 45px;
            padding-bottom: 55px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            //gap: 25px;

            &__label {
                font-size: 6vw;
            }

            &__img {
                padding-top: 20px;
                display: flex;
                justify-content: center;
                width: 90vw;
            }

            &__textfield {
                font-size: 4vw;
                width: 90vw;
                height: 12vw;
            }

            &__checkbox-conteiner {

                width: 90vw;
                margin-top: 25px;

                .form1__labelcheckbox {
                    font-size: 4vw;
                }
            }

            &__button {
                margin-top: 25px;
            }
        }

    }

    //Общие блоки
    h2 {
        font-size: 8vw;
        line-height: 10vw;
    }

    .button {
        width: 90vw;
        height: 13vw;
        font-size: 4vw;
    }
}