@charset "UTF-8";
@font-face {
  font-family: "Noah";
  src: url("../assets/fonts/Noah-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: url("../assets/fonts/Noah-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
p,
.button {
  margin: 0;
  font-family: "Noah", Arial, sans-serif;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 101;
}

.header {
  display: flex;
  padding: 20px 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .hamb,
.header .popup {
  display: none;
}
.header__logo {
  height: 80%;
}
.header__conteiner {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}
.header .header__menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.header .header__menu .header__menu_item {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.6vw;
}
.header .header__menu .header__menu_item:hover {
  color: rgba(153, 161, 142, 0.3);
}
.header__part-with-button {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  font-size: 1.6vw;
}
.header__part-with-button .header__button {
  display: inline-block;
  padding: 10px 20px;
  width: 17vw;
  height: 4vw;
  border: none;
  font-size: 1.6vw;
  text-decoration: none;
  color: #1A1A18;
  background-color: #FFFFFF;
}
.header__part-with-button .header__button div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__part-with-button .header__button:hover {
  background-color: rgba(153, 161, 142, 0.3);
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
.header__part-with-button .header__button:hover a {
  text-decoration: none;
}
.header__part-with-button .header__text-under-button {
  padding-top: 0.5rem;
  font-size: 1.2vw;
}

/* Стиль меню при скролле */
#header.scrolled {
  background-color: #545A2F;
}

.gallery,
.features,
.block5,
.project,
.implementation,
.advantages,
.reviews,
.block11,
.block12 {
  padding: 0 4.5vw;
}

.block1 {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/img/headerbackgr.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.block1__title {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  height: 55vh;
  margin-bottom: 5vw;
  padding-top: 19vh;
  height: 88vh;
}
.block1__title h2 {
  font-weight: 400;
  font-size: 1.6vw;
}
.block1__title h1 {
  max-width: 69vw;
  margin: 5px 0 5px 0;
  font-size: 5vw;
  font-weight: 600;
  line-height: 5.5vw;
}
.block1__title h3 {
  margin-top: 1vw;
  font-weight: 400;
  font-size: 3vw;
}
.block1__branch {
  position: absolute;
  right: 0;
  top: 37vh;
  max-width: 27vw;
}
.block1__end {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-height: 11vh;
}
.block1__end .lastproject {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: rgba(99, 83, 62, 0.52);
}
.block1__end .lastproject p {
  margin: 0;
  max-width: 100px;
  font-weight: 400;
  font-size: 18px;
}
.block1__end .lastproject__lastarrow {
  max-width: 1.5rem;
}
.block1__end .lastproject__img {
  margin-left: 1vw;
  max-width: 5vw;
  min-width: 78px;
}

.place {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #1A1A18;
  margin-top: 15vw;
}
.place__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vw;
}
.place__title__h2 {
  text-align: center;
  font-size: 3vw;
}
.place__title__h3 {
  text-align: center;
  font-weight: bold;
  font-size: 3vw;
}
.place__back {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.place__back__item {
  width: 30%;
  position: relative;
  top: -100px;
}
.place__back__item img {
  width: 100%;
}
.place__description {
  width: 60%;
  color: black;
  font-size: 1.6vw;
  text-align: center;
}

.gallery {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 27px;
}
.gallery__box {
  width: 100%;
}
.gallery__img {
  width: 100%;
}

.features {
  margin-top: 15vw;
}
.features__box {
  display: flex;
  flex-direction: row;
}
.features__title {
  font-size: 3vw;
  text-align: center;
  margin-bottom: 5vw;
}
.features__images {
  width: 50%;
}
.features__images p {
  font-size: 1.6vw;
  text-align: center;
  margin-bottom: 14px;
}
.features__position {
  width: 100%;
}
.features__position__1 {
  width: 90%;
  position: relative;
  left: 0;
  top: 0px;
}
.features__position__2 {
  width: 80%;
  position: relative;
  left: 20%;
  top: -50px;
}
.features__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.features__text img {
  width: 49px;
  height: 49px;
  margin-right: 30px;
}
.features__text p {
  font-size: 1.6vw;
  width: 65%;
}
.features__text__1 {
  position: relative;
  left: 45px;
}
.features__text__2 {
  position: relative;
  left: 60px;
}
.features__text__3 {
  position: relative;
  left: 75px;
}

.block5 {
  margin-top: 15vw;
}
.block5 .services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 4fr 0.5fr;
  gap: 10px;
  color: #1A1A18;
}
.block5 .services h2 {
  grid-column: 1/4;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;
}
.block5 .services__container h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
}
.block5 .services__container ul {
  padding: 0 20px;
}
.block5 .services__container ul li {
  margin: 2.3vh 0;
  font-size: 1.6vw;
}
.block5 .services__button {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lead-instruction {
  margin-top: 15vw;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 10vw 333px 10vw;
}
.lead-instruction__img {
  z-index: 10;
  align-items: center;
  width: 100%;
}
.lead-instruction__title {
  grid-area: 1/2;
  width: 70%;
  display: flex;
  align-items: center;
}
.lead-instruction__fon {
  grid-area: 2/1;
  background-color: rgba(153, 161, 142, 0.3);
}
.lead-instruction .lead-instruction__form {
  grid-area: 2/2;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: rgba(153, 161, 142, 0.3);
}
.lead-instruction .form1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 25px;
}
.lead-instruction .form1__img {
  display: none;
}
.lead-instruction .form1__label {
  font-size: 1.6vw;
}
.lead-instruction .form1__checkbox-conteiner {
  display: flex;
  align-items: center;
  gap: 10px;
}
.lead-instruction .form1__textfield {
  width: 80%;
  height: 3.5vw;
  border: none;
  padding-left: 10px;
  font-size: 1.6vw;
  font-family: "Noah", Arial, sans-serif;
}
.lead-instruction .form1__labelcheckbox {
  font-size: 1.2vw;
}
.lead-instruction .form1__button {
  border: 1px solid #545A2F;
}

.project {
  margin-top: 6vw;
}
.project__title {
  text-align: center;
  margin-bottom: 5vw;
}
.project__box {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.project__box a {
  text-decoration: none;
}
.project__box a:hover {
  opacity: 0.8;
}
.project__box__img {
  width: 50%;
  position: relative;
  overflow: hidden;
}
.project__box__img__info-value {
  font-size: 1.6vw;
  font-weight: bolder;
}
.project__box__img__info {
  opacity: 0;
  background-color: #1A1A18;
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project__box__img__info h4 {
  font-size: 2vw;
  margin-bottom: 10px;
}
.project__box__img__info__row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.project__box__img__info p {
  font-size: 1.2vw;
}
.project__box__img img {
  width: 99%;
  box-sizing: border-box;
}
.project__box__img__button {
  display: none;
}
.project__box__img:hover > .project__box__img__info {
  opacity: 0.6;
}
.project__button {
  background-color: #FFFFFF;
  box-sizing: border-box;
  position: absolute;
  top: calc(50% - 95px);
  left: calc(50% - 95px);
  display: block;
  width: 190px;
  height: 190px;
  border-radius: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: 1.6vw;
  z-index: 100;
}
.project__button p {
  margin-bottom: 15px;
}

.implementation {
  padding: 0 65px;
  margin-top: 15vw;
}
.implementation h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;
  color: #1A1A18;
}
.implementation h2 .title {
  font-weight: 600;
}
.implementation__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 6vw;
  color: #1A1A18;
}
.implementation__box .step {
  display: flex;
  align-items: center;
}
.implementation__box .step__image {
  width: 5vw;
  margin: 2vw;
}
.implementation__box .step .image {
  height: 5vh;
}
.implementation__box .step__text {
  width: 30vw;
}
.implementation__box .step__text h5 {
  font-weight: 600;
  font-size: 1.6vw;
}
.implementation__box .step__text p {
  font-size: 1.6vw;
}

.advantages {
  margin-top: 15vw;
  background: rgba(153, 161, 142, 0.3);
  padding: 30px 65px 65px 65px;
}
.advantages__title {
  text-align: center;
  margin-top: 5vw;
}
.advantages__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.advantages__item {
  width: 27%;
  margin-top: 80px;
}
.advantages__item-img {
  width: 70px;
}
.advantages__item-img img {
  width: 100%;
}
.advantages__item-text {
  font-size: 1.6vw;
  margin-top: 30px;
}

.reviews {
  margin-top: 15vw;
}
.reviews__title {
  text-align: center;
  margin-bottom: 5vw;
}
.reviews__box {
  margin-top: 100px;
}
.reviews__item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.reviews__item__img {
  width: 40%;
}
.reviews__item__img img {
  width: 100%;
}
.reviews__item__description {
  width: 40%;
  color: #545A2F;
}
.reviews__item__description-name {
  margin-top: 25px;
  font-size: 2vw;
  font-weight: bolder;
}
.reviews__item__description-place {
  font-size: 1.6vw;
}
.reviews__item__description-text {
  margin-top: 30px;
  font-size: 1.6vw;
  color: #1A1A18;
}

.block11 {
  margin-top: 15vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1.3fr 0.7fr;
  gap: 75px;
}
.block11 .faq__title {
  margin-bottom: 5vw;
}
.block11 .faq .faq__conteiner {
  padding: 30px 0;
}
.block11 .faq .faq__conteiner .faq__box {
  position: relative;
  border-bottom: 1px solid rgba(153, 161, 142, 0.3);
  /* Нижний отступ между элементами аккордеона */
  margin-bottom: 20px;
}
.block11 .faq .faq__conteiner .faq__box:last-child {
  margin-bottom: 0;
  /* Для последнего элемента нижний отступ убираем */
}
.block11 .faq .faq__conteiner .faq__box .faq__label {
  position: relative;
  font-size: 1.6vw;
  padding: 20px 0;
  /* Меняем курсор при наведении */
  cursor: pointer;
}
.block11 .faq .faq__conteiner .faq__box .faq__label::after {
  content: "+";
  /* Задаем иконку "+" для элемента аккордеона */
  position: absolute;
  top: 50%;
  /* Выравнивание по центру */
  transform: translateY(-50%);
  right: 20px;
  font-weight: bold;
}
.block11 .faq .faq__conteiner .faq__box.active .faq__label::after {
  /* Меняем иконку на "-" при нажатии на элемент */
  content: "-";
}
.block11 .faq .faq__conteiner .faq__box .faq__content {
  width: 90%;
  position: relative;
  /* Цвет фона контента */
  background-color: #FFFFFF;
  /* Скрываем контент */
  overflow: hidden;
  max-height: 0;
  /* Для плавности анимации */
  transition: 0.3s;
}
.block11 .faq .faq__conteiner .faq__box .faq__content p {
  padding: 20px 0;
  font-size: 1.6vw;
}
.block11 .form2 {
  background-color: rgba(153, 161, 142, 0.3);
  padding: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2.5vw;
}
.block11 .form2__title {
  text-align: center;
  font-size: 2vw;
  width: 90%;
}
.block11 .form2__label {
  font-size: 1.6vw;
}
.block11 .form2__img {
  display: flex;
  justify-content: center;
  width: 25vw;
}
.block11 .form2__textfield {
  padding-left: 10px;
  font-size: 1.6vw;
  width: 100%;
  height: 3.5vw;
  border: none;
}
.block11 .form2__checkbox-conteiner {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.block11 .form2__checkbox-conteiner .form2__labelcheckbox {
  font-size: 1.2vw;
}
.block11 .form2__button {
  width: 100%;
}
.block11 .form2__button:hover {
  border: 1px solid #545A2F;
}

.block12 {
  margin-top: 15vw;
  margin-bottom: 7.5vw;
  display: flex;
  justify-content: center;
}
.block12__left-part {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.block12__title {
  align-items: center;
  font-size: 4vw;
}
.block12__subtitle {
  padding-top: 2vw;
  font-size: 2vw;
  font-weight: normal;
  width: 70%;
}
.block12__arrow {
  width: 20%;
  display: flex;
  align-items: start;
}
.block12__arrow-mb {
  display: none;
}
.block12__button {
  margin-top: 10px;
  margin-left: 20px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer {
  background: #545A2F;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  padding: 50px 100px;
  color: #FFFFFF;
}
.footer__s1 {
  grid-row: 1;
  grid-column: 1;
  font-size: 1.6vw;
}
.footer__s1 p:first-child {
  margin-bottom: 22px;
}
.footer__s2 {
  grid-row: 2;
  grid-column: 1;
  font-size: 1.2vw;
  opacity: 0.7;
  align-self: end;
}
.footer__s3 {
  grid-row: 1/3;
  grid-column: 2;
}
.footer__s4 {
  grid-row: 1;
  grid-column: 3;
  text-align: right;
}
.footer__s5 {
  grid-row: 2;
  grid-column: 3;
  font-size: 1.2vw;
  text-align: right;
  align-self: end;
}

.bold {
  font-weight: bold;
}

.box_flex_row {
  display: flex;
  flex-direction: row;
}

h2 {
  font-size: 3.5vw;
  font-weight: normal;
  line-height: 4vw;
}

.show {
  display: block;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* убираем стандартные стилизации */
  width: 20px;
  height: 20px;
  border: 1px solid #FFFFFF;
}
.checkbox:checked {
  background-image: url("../assets/img/checkbox.svg");
  background-repeat: no-repeat;
}
.checkbox:hover {
  border-color: #545A2F;
}

.button {
  width: 333px;
  height: 60px;
  border: 1px solid #545A2F;
  background-color: #545A2F;
  font-size: 1.6vw;
  color: #FFFFFF;
  font-weight: normal;
}
.button:hover {
  background-color: rgba(153, 161, 142, 0.3);
  color: #1A1A18;
}

.darkBackground {
  background-color: #1A1A18;
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  .header {
    height: 85px;
  }
  .header__logo {
    height: 56px;
  }
  .header__conteiner {
    display: none;
  }
  .header .hamb {
    display: flex;
    align-items: center;
  }
  .header .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }
  .header .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #FFFFFF;
    transition: 0.2s;
  }
  .header .popup {
    position: fixed;
    top: 85px;
    left: -100%;
    width: 100%;
    height: 700px;
    background-color: #545A2F;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }
  .header .popup.open {
    left: 0;
  }
  .header .popup .header__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
  }
  .header .popup .header__conteiner .header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }
  .header .popup .header__conteiner .header__menu .header__menu_item:not(.header__menu_item_first) {
    border-top: 1px solid rgba(153, 161, 142, 0.3);
  }
  .header .popup .header__conteiner .header__menu .header__menu_item {
    width: 70%;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 1.8vw;
  }
  .header .popup .header__conteiner .header__part-with-button {
    margin: 0;
    padding-top: 10vw;
  }
  .header .popup .header__conteiner .header__part-with-button .header__button {
    display: inline-block;
    width: 20vw;
    height: 5vw;
    border: none;
    font-size: 1.6vw;
    text-decoration: none;
    color: #1A1A18;
    background-color: #FFFFFF;
  }
  .header .popup .header__conteiner .header__part-with-button .header__text-under-button {
    margin-top: 10px;
    text-align: center;
    font-size: 1.4vw;
    color: #FFFFFF;
  }
  .header .popup .header__menu > li {
    width: 100%;
  }
  .header .popup .header__menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 1.8vw;
    font-weight: bold;
    color: #1A1A18;
  }
  .header .popup .header__menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }
  .header .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .header .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  .header body.noscroll {
    overflow: hidden;
  }
  .block1__title h2 {
    font-size: 1.8vw;
  }
  .block1__title h3 {
    font-size: 3.2vw;
  }
  .place__title__h2 {
    font-size: 3.2vw;
  }
  .place__title__h3 {
    font-size: 3.2vw;
  }
  .place__description {
    font-size: 1.8vw;
  }
  .features__title {
    font-size: 3.2vw;
  }
  .features__images p {
    font-size: 1.8vw;
  }
  .features__text {
    min-height: 700px;
  }
  .features__text p {
    font-size: 1.8vw;
  }
  .features__text .features__text__1 {
    left: 20px;
  }
  .features__text .features__text__2 {
    left: 40px;
  }
  .features__text .features__text__3 {
    left: 60px;
  }
  .block5 .services__container h3 {
    font-size: 2.2vw;
  }
  .block5 .services__container ul li {
    font-size: 1.8vw;
  }
  .lead-instruction__img {
    padding-top: 25px;
    display: flex;
    align-items: center;
    grid-area: 2/1/3/2;
  }
  .lead-instruction__title {
    grid-area: 1/1/2/3;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .lead-instruction .form1 {
    gap: 15px;
  }
  .lead-instruction .form1__label {
    font-size: 1.8vw;
  }
  .lead-instruction .form1__textfield {
    font-size: 1.8vw;
  }
  .lead-instruction .form1__labelcheckbox {
    font-size: 1.4vw;
    width: 80%;
  }
  .project__box__img__info-value {
    font-size: 1.8vw;
  }
  .project__box__img__info h4 {
    font-size: 2.2vw;
  }
  .project__box__img__info p {
    font-size: 1.4vw;
  }
  .project__button {
    font-size: 1.8vw;
  }
  .implementation__box .step__text h5 {
    font-size: 1.8vw;
  }
  .implementation__box .step__text p {
    font-size: 1.8vw;
  }
  .advantages__item-text {
    font-size: 1.8vw;
  }
  .reviews__item__description-name {
    font-size: 2.2vw;
  }
  .reviews__item__description-place {
    font-size: 1.8vw;
  }
  .reviews__item__description-text {
    font-size: 1.8vw;
  }
  .block11 {
    display: flex;
  }
  .block11 .faq .faq__conteiner {
    margin-top: 0;
  }
  .block11 .faq .faq__conteiner .faq__box .faq__label {
    font-size: 1.8vw;
  }
  .block11 .faq .faq__conteiner .faq__box .faq__content p {
    padding: 20px 0;
    font-size: 1.8vw;
  }
  .block11 .form2 {
    display: none;
  }
  .block12 {
    display: grid;
    grid-template-columns: 70% 20%;
    grid-template-rows: 1fr 50px;
    width: 100%;
  }
  .block12__left-part {
    grid-area: 1/1/2/2;
    width: 100%;
    text-align: center;
  }
  .block12__title {
    font-size: 5vw;
    font-weight: normal;
  }
  .block12__subtitle {
    font-size: 2.2vw;
    width: 100%;
  }
  .block12__arrow {
    display: none;
  }
  .block12__arrow-mb {
    margin-top: 6vw;
    grid-area: 1/2/2/3;
    display: flex;
    height: 20vw;
  }
  .block12__button {
    grid-area: 2/1/3/3;
    margin: auto;
  }
  .footer__s1 {
    font-size: 1.8vw;
  }
  .footer__s2 {
    font-size: 1.4vw;
  }
  .footer__s5 {
    font-size: 1.4vw;
  }
  h2 {
    font-size: 3.7vw;
    line-height: 6vw;
  }
  .button {
    width: 200px;
    height: 50px;
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 961px) {
  .header .popup .header__conteiner .header__menu .header__menu_item {
    font-size: 2.7vw;
  }
  .header .popup .header__conteiner .header__part-with-button .header__button {
    width: 30vw;
    height: 8vw;
    font-size: 2.7vw;
  }
  .header .popup .header__conteiner .header__part-with-button .header__text-under-button {
    font-size: 2vw;
  }
  .header .popup .header__menu > li > a {
    font-size: 2.7vw;
  }
  .block1__title h2 {
    font-size: 2.7vw;
  }
  .block1__title h1 {
    max-width: 89vw;
    font-size: 6.5vw;
    line-height: 8vw;
  }
  .block1__title h3 {
    font-size: 3.4vw;
  }
  .block1__branch {
    top: 49vh;
    max-width: 300px;
  }
  .place__title__h2 {
    font-size: 3.4vw;
  }
  .place__title__h3 {
    font-size: 3.4vw;
  }
  .place__description {
    font-size: 2.7vw;
  }
  .features__title {
    font-size: 3.4vw;
  }
  .features__images {
    width: 100%;
  }
  .features__images p {
    font-size: 2.7vw;
  }
  .features__text {
    width: 100%;
    min-height: 600px;
  }
  .features__text p {
    font-size: 2.7vw;
  }
  .features__box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .block5 {
    padding: 0 5vw;
  }
  .block5 .services {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(2, 6fr) 5fr 1fr;
    gap: 15px;
  }
  .block5 .services .container-one {
    grid-row: 2;
  }
  .block5 .services .container-two {
    grid-row: 3;
  }
  .block5 .services .container-three {
    grid-row: 4;
  }
  .block5 .services__container h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
  }
  .block5 .services__container ul {
    padding: 0 20px;
  }
  .block5 .services__container ul li {
    margin: 3vh 0;
    font-size: 2.7vw;
  }
  .lead-instruction .form1__label {
    font-size: 2.7vw;
  }
  .lead-instruction .form1__textfield {
    font-size: 2.7vw;
  }
  .lead-instruction .form1__labelcheckbox {
    font-size: 2vw;
  }
  .project__box__img__info-value {
    font-size: 2.7vw;
  }
  .project__box__img__info h4 {
    font-size: 3vw;
  }
  .project__box__img__info p {
    font-size: 2vw;
  }
  .project__button {
    font-size: 2.7vw;
  }
  .implementation {
    padding: 0px 4vw 10vw;
  }
  .implementation .implementation__box {
    gap: 3vw;
  }
  .implementation .implementation__box .step__image {
    width: 8vw;
  }
  .implementation .implementation__box .step .image {
    height: 6vh;
  }
  .implementation .implementation__box .step__text {
    width: 33vw;
  }
  .implementation .implementation__box .step__text h5 {
    font-size: 2.7vw;
  }
  .implementation .implementation__box .step__text p {
    font-size: 2.7vw;
  }
  .advantages__item-text {
    font-size: 2.7vw;
  }
  .reviews__item {
    flex-direction: column-reverse;
  }
  .reviews__item__img {
    width: 100%;
    margin-top: 30px;
  }
  .reviews__item__description {
    width: 100%;
  }
  .reviews__item__description-name {
    font-size: 3vw;
  }
  .reviews__item__description-place {
    font-size: 2.7vw;
  }
  .reviews__item__description-text {
    font-size: 2.7vw;
  }
  .block11 .faq .faq__conteiner .faq__box .faq__label {
    font-size: 2.7vw;
  }
  .block11 .faq .faq__conteiner .faq__box .faq__content p {
    font-size: 2.7vw;
  }
  .block12 {
    padding-left: 0;
    margin-bottom: 15vw;
  }
  .block12__left-part {
    text-align: left;
  }
  .block12__title {
    font-size: 6.5vw;
  }
  .block12__subtitle {
    font-size: 3vw;
  }
  .block12__button {
    margin-top: 7vw;
  }
  .footer {
    background: #545A2F;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 50px 20px;
  }
  .footer__s1 {
    font-size: 2.7vw;
  }
  .footer__s2 {
    font-size: 2vw;
  }
  .footer__s5 {
    font-size: 2vw;
  }
  h2 {
    font-size: 3.9vw;
  }
  .button {
    font-size: 2.7vw;
  }
}
@media screen and (max-width: 767px) {
  .header .popup .header__conteiner .header__menu .header__menu_item {
    font-size: 4.7vw;
  }
  .header .popup .header__conteiner .header__part-with-button .header__button {
    width: 50vw;
    height: 11vw;
    font-size: 4.7vw;
  }
  .header .popup .header__conteiner .header__part-with-button .header__text-under-button {
    font-size: 3.3vw;
  }
  .header .popup .header__menu > li > a {
    font-size: 4.7vw;
  }
  .block1__title {
    margin-bottom: 22vw;
  }
  .block1__title h2 {
    font-size: 4.7vw;
  }
  .block1__title h1 {
    max-width: 89vw;
    font-size: 8vw;
    line-height: 10vw;
  }
  .block1__title h3 {
    font-size: 6vw;
  }
  .block1__branch {
    top: 56vh;
    max-width: 200px;
  }
  .block1__title {
    display: flex;
    align-content: flex-start;
    margin-left: 20px;
  }
  .block1__end {
    display: flex;
    justify-content: flex-start;
  }
  .block1__end .lastproject {
    margin-left: 20px;
    padding: 15px;
  }
  .block1__end .lastproject p {
    margin: 0;
  }
  .block1__end .arrow {
    display: none;
  }
  .place__title {
    padding: 0 10vw;
  }
  .place__title__h2 {
    font-size: 6vw;
  }
  .place__title__h3 {
    font-size: 6vw;
  }
  .place__description {
    padding: 0 10vw;
    width: 100%;
    font-size: 4.7vw;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
  }
  .gallery__box {
    width: 100%;
  }
  .features__title {
    font-size: 6vw;
  }
  .features__images p {
    font-size: 4.7vw;
  }
  .features__text p {
    font-size: 4.7vw;
  }
  .block5 .services {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(2, 6fr) 5fr 1fr;
    gap: 15px;
  }
  .block5 .services .container-one {
    grid-row: 2;
  }
  .block5 .services .container-two {
    grid-row: 3;
  }
  .block5 .services .container-three {
    grid-row: 4;
  }
  .block5 .services__container h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 5.3vw;
  }
  .block5 .services__container ul {
    padding: 0 20px;
  }
  .block5 .services__container ul li {
    margin: 3vh 0;
    font-size: 4.7vw;
  }
  .lead-instruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .lead-instruction__img {
    display: none;
  }
  .lead-instruction__fon {
    display: none;
  }
  .lead-instruction__title {
    text-align: center;
    margin: 20px 0 20px 0;
    width: 80vw;
  }
  .lead-instruction .form1 {
    background-color: rgba(153, 161, 142, 0.3);
    width: 100%;
    padding: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lead-instruction .form1__label {
    font-size: 4.7vw;
  }
  .lead-instruction .form1__img {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    width: 90vw;
  }
  .lead-instruction .form1__textfield {
    font-size: 4.7vw;
    width: 90vw;
    height: 12vw;
  }
  .lead-instruction .form1__checkbox-conteiner {
    width: 90vw;
    margin-top: 25px;
  }
  .lead-instruction .form1__checkbox-conteiner .form1__labelcheckbox {
    font-size: 3.3vw;
  }
  .lead-instruction .form1__button {
    margin-top: 25px;
  }
  .project__box {
    flex-direction: column;
  }
  .project__box__img {
    width: 100%;
    position: relative;
  }
  .project__box__img__info-value {
    font-size: 1.8vw;
  }
  .project__box__img__info h4 {
    font-size: 2.2vw;
  }
  .project__box__img__info p {
    font-size: 1.4vw;
  }
  .project__box__img__button {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    color: #FFFFFF;
    background: rgba(233, 236, 224, 0.33);
    border-radius: 40px;
    border: 0;
    text-align: center;
    padding-top: 20px;
  }
  .project__box__img__button img {
    width: 90%;
  }
  .project__button {
    font-size: 1.8vw;
    width: 100%;
    background: #545A2F;
    color: #FFFFFF;
    position: relative;
    left: 0;
    border-radius: 0;
    height: 60px;
    padding-top: 18px;
    box-sizing: border-box;
    margin-top: 30px;
  }
  .project__button img {
    display: none;
  }
  .implementation .implementation__box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 3vw;
  }
  .implementation .implementation__box .step {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .implementation .implementation__box .step__image {
    width: 10vw;
  }
  .implementation .implementation__box .step .image {
    height: 5vh;
  }
  .implementation .implementation__box .step__text {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
  .implementation .implementation__box .step__text h5 {
    font-size: 4.7vw;
  }
  .implementation .implementation__box .step__text p {
    font-size: 4.7vw;
  }
  .advantages {
    padding-top: 6vw;
  }
  .advantages__box {
    padding-bottom: 10vw;
    flex-direction: column;
  }
  .advantages__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
  }
  .advantages__item-text {
    font-size: 4.7vw;
    margin-left: 30px;
  }
  .reviews__item__description-name {
    font-size: 5.3vw;
  }
  .reviews__item__description-place {
    font-size: 4.7vw;
  }
  .reviews__item__description-text {
    font-size: 4.7vw;
  }
  .block11 .faq .faq__conteiner {
    margin-top: 0;
  }
  .block11 .faq .faq__conteiner .faq__box .faq__label {
    font-size: 4.7vw;
  }
  .block11 .faq .faq__conteiner .faq__box .faq__content p {
    font-size: 4.7vw;
  }
  .block12 {
    padding-bottom: 10vw;
  }
  .block12__title {
    font-size: 7vw;
  }
  .block12__subtitle {
    font-size: 5.3vw;
  }
  .footer {
    background: #545A2F;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-top: 10vw;
  }
  .footer__s1 {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    margin-top: 55px;
    font-size: 4.7vw;
  }
  .footer__s2 {
    grid-row: 5;
    grid-column: 1;
    text-align: left;
    margin-top: 26px;
    font-size: 3.3vw;
  }
  .footer__s3 {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
  }
  .footer__s4 {
    grid-row: 3;
    grid-column: 1;
    text-align: center;
    margin: 30px 0 50px 0;
  }
  .footer__s5 {
    grid-row: 4;
    grid-column: 1;
    text-align: left;
    font-size: 3.3vw;
  }
  .footer a {
    text-decoration: none;
  }
  h2 {
    font-size: 6.5vw;
    line-height: 9vw;
  }
  .button {
    width: 90vw;
    height: 13vw;
    font-size: 4.7vw;
  }
}/*# sourceMappingURL=style.css.map */